:root {
  /*
=============== 
Variables
===============
*/

  /* Grayscale / Neutral Colors */
  --color-white: #f9fafb;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600:#4b5563;
  --color-gray-700: #374151; 
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;
  --color-black: #030712;
  /* Primary / Accent Colors */
  --color-main: #f5b301;
  --color-accent:
  /* Light Pink Shades */
  --color-main-dark: #ec9c04;
  --color-main-light: #fed053;
  /* warning colours */
  /* --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132; */

  /* fonts */
  --ff-primary: 'Oswald', sans-serif;
  --ff-secondary: 'Merriweather', serif;

  /* others */
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(22, 36, 64, 0.1);
  --dark-shadow: 0 5px 15px rgba(22, 36, 64, 0.2);
  --max-width: 1170px;
}

.odibee-sans-regular {
  font-family: "Odibee Sans", system-ui;
  font-weight: 400;
  font-style: normal;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: var(--ff-secondary);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--color-gray-50);
}

a:hover {
  color: var(--color-main);
}

img {
  width: 100%;
  display: block;
}


:root {
    font-size: 18px; /* Slightly larger base font size for larger screens */
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-primary);
  line-height: 1.5;
  margin-bottom: 0.75rem;
  color: var(--color-main);
}
  h1 {
    font-size: 4rem; /* 36px */
  }

  h2 {
    font-size: 1.5rem; /* 27px */
  }

  h3 {
    font-size: 1.25rem; /* 22.5px */
  }

  h4 {
    font-size: 1.125rem; /* 20.25px */
  }

  h5 {
    font-size: 1rem; /* 18px */
  }

  h6 {
    font-size: 0.875rem; /* 15.75px */
  }

  p {
    font-size: 0.8rem; /* 18px */
    color: var(--color-gray-100);
  }

  small {
    font-size: 0.875rem; /* 15.75px */
  }
/* Media query for larger screens */
@media screen and (max-width: 768px) {


h1 {
  font-size: 3rem; /* 24px */
  line-height: 1.25;
}

h2 {
  font-size: 1.5rem; /* 20px */
}

h3 {
  font-size: 1.25rem; /* 18px */
}

h4 {
  font-size: 1.1rem; /* 16px */
}

h5 {
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  color: var(--clr-grey-9);
}

h6 {
  font-size: 0.75rem; /* 12px */
}

p {
  margin-bottom: 1rem;
  font-size: 0.8rem; /* 16px */
}

small {
  font-size: 0.8rem; /* 12px */
}
}

/*
=============== 
Specific Styles
===============
*/

body {background-color: var(--color-gray-900);}


/*
=============== 
Chart
===============
*/

/* are inside the scatterplot_svelte.svelte */
